<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="6.0.0" targetFramework="net472" />
  <package id="Caliburn.Micro" version="4.0.173" targetFramework="net472" />
  <package id="Caliburn.Micro.Core" version="4.0.173" targetFramework="net472" />
  <package id="ControlzEx" version="4.3.0" targetFramework="net472" />
  <package id="Dirkster.AvalonDock" version="3.6.2" targetFramework="net472" />
  <package id="Dirkster.AvalonDock.Themes.VS2013" version="3.6.2" targetFramework="net472" />
  <package id="DotNetProjects.Extended.Wpf.Toolkit" version="4.6.78" targetFramework="net472" />
  <package id="FireSharp" version="2.0.4" targetFramework="net472" />
  <package id="Gemini.Modules.CodeEditor" version="1.0.37-beta" targetFramework="net472" />
  <package id="GeminiWpf" version="1.0.37-beta" targetFramework="net472" />
  <package id="MahApps.Metro" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Bcl" version="1.1.9" targetFramework="net472" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net472" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="net472" />
  <package id="Microsoft.Net.Http" version="2.2.28" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net472" />
  <package id="System.ComponentModel.Composition" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net472" />
</packages>