body {
    background-color: white;
    color: black;
    transition: 0.1s;
    font-family: 'Poppins', sans-serif;
    overflow-y: none;
    height: 100%;
}

.top-bar {
    background-color: rgb(241, 241, 241);
    height: 80px;
    width: calc(100% - 80px);
    display: block;
    top: 0;
    left: 80px;
    right: 0;
    position: absolute;
    user-select: none;
}
.top-title {
    margin: 26px;
    color: #ff006f;
    width: 118px;
    float: left;
}
.top-title-secondary {
    color: #a40f4f;
}
.top-button {
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    height: 24px;
    width: auto;
    display: block;
    padding: 28px;
    float: left;
    transition: 0.1s;
    cursor: pointer;
}
.top-button:hover {
    background-color: #ff98c5;
    transition: 0.1s;
}

.window-control {
    float: right;
    top: 0;
    right: 0;
    display: block;
}
.window-control-button {
    background-color: #00000000;
    float: right;
    width: 40px;
    padding: 10px;
    text-align: center;
    transition: 0.1s;
}
.window-control-button:hover {
    background-color: #ff006f;
    transition: 0.1s;
}
.window-control-button:active {
    background-color: #a40f4f;
    transition: 0.1s;
}

.side-bar {
    background-color: rgb(241, 241, 241);
    height: 100%;
    width: 80px;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    user-select: none;
}
.side-button {
    background-color: #00000000;
    transition: 0.1s;
    cursor: pointer;
}
.side-button:hover {
    background-color: #ff98c5;
    transition: 0.1s;
}
.side-button:active {
    background-color: #ff006f;
    transition: 0.1s;
}
.side-icon {
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    height: 60px;
    width: 60px;
    display: block;
    padding: 10px;
}
.side-logo {
    background-size: 80%;
}

.content
{
    background-color: #ffffff;
    display: block;
    top: 80px;
    bottom: 0;
    left: 80px;
    right: 0;
    width: calc(100% - 80px - 100px);
    height: calc(100% - 80px - 100px);
    position: absolute;
    padding: 50px;
    overflow-y: scroll;
}

.snippet {
    background-color: rgb(231, 231, 231);
    display: block;
    width: calc(100% - 20px);
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    user-select: none;
    transition: 0.1s;
}
.snippet:hover {
    background-color: rgb(245, 245, 245);
    transition: 0.1s;
    cursor: pointer;
}
.snippet-icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10px;
}
.snippet-new {
    border: dashed;
    border-color: rgb(148, 148, 148);
    color: black;
    display: block;
    width: calc(100% - 20px);
    height: 120px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
    user-select: none;
    transition: 0.1s;
}
.snippet-new:hover {
    border-color: #ff006f;
    color: #ff006f;
    transition: 0.1s;
    cursor: pointer;
}